// @include url("swiper/swiper.scss");

.slick-arrow.slick-prev {
  width: 50px;
  height: 100%;
  left: 0;
  z-index: 1;
  transition: background 0.3s ease-in-out;
  background: linear-gradient(
    to right,
    rgba(0, 153, 255, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  &:hover,
  &:focus {
    background: linear-gradient(
      to right,
      rgba(0, 153, 255, 0.8) 0%,
      rgba(0, 153, 255, 0.8) 100%
    );
  }
}

.slick-arrow.slick-next {
  width: 50px;
  height: 100%;
  right: 0;
  z-index: 1;
  transition: background 0.3s ease-in-out;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 153, 255, 0.8) 100%
  );
  &:hover,
  &:focus {
    background: linear-gradient(
      to right,
      rgba(0, 153, 255, 0.8) 0%,
      rgba(0, 153, 255, 0.8) 100%
    );
  }
}
